/* ======= the responsive of the home page======= */
nav .menu-btn,
.menu-icon{
		display : none;
	}

@media screen and (max-width:900px) {
.menu-icon{ display : block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding : 0px 30px;
	}

	.menu{
		display : none;
		position : absolute;
		top : 65px;
		left : 60vw;
		background-color : #f2f2f2de;
		border-bottom : 2px solid #000000cc;
		width : 100%;
		padding : 0px;
		margin : 0px;
	}
	.menu li{	width : 100%;}
	nav .menu li a{
		width:100%;
		height:40px;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
		border-radius: 0px;
		color: #000;
	}
	nav .menu-icon{
		cursor:pointer;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#fff;
		display:block;
		height:2px;
		position:relative;
		transition: background-color 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#fff;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all ease-out 0.2s;
		width:100%;
		-webkit-transition: all ease-out 0.2s;
		-moz-transition: all ease-out 0.2s;
		-ms-transition: all ease-out 0.2s;
		-o-transition: all ease-out 0.2s;
	}
	nav .menu-icon .nav-icon:before{	top : 5px;}
	nav .menu-icon .nav-icon:after{	top : -5px;}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{	background : transparent;}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform : rotate(-45deg);
		top : 0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform : rotate(45deg);
		top : 0;
	}
	nav .menu-btn{ display : none;}
	nav .menu-btn:checked ~ .menu { display : block;
	}

}

@media(max-width : 720px){
	#home {
		height: 85vh;
	}
	#about::before {
		width: 0px;
	  }

}

@media(max-width : 530px){
	nav{
		box-shadow: none;}
	#home .display-3 {
		font-size: 2rem !important;
	}
	#about {
		align-items: flex-start !important;
		height: auto ;
	}
	#home  p{ font-size: 2em;}
	#home  q{ font-size: 1em}
	#about>div {
		width: 100% !important;
	}
	.row img {
		width: 45%;
		max-height: 250px;
		margin: 0.3rem;
		
	  }
	#preset {
		width: 100% ;
	}

}